<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>RegistrationView</title>
	<link rel="stylesheet" href="../css/myaccount.css" />
	<link rel="stylesheet" href="../css/studentProfile.css" />
</head>
<body>
	<div class="full_container">
		<div class="account_header_wraper">
			<div class="account_header">
				<div class="account_logo">
					<a href="#"><img src="../../images/logo.png" alt="Logo" /></a>
					<a href="#"><h2>Online School Portal</h2></a>
				</div>
				<div class="account_menu_top">
					<ul>
						<li><a href="#">&#x2630 Courses & Results</a></li>
						<li><a href="#">&#x27A4 Registration</a></li>
						<li><a href="#">&#x2738 Grade Report</a></li>
					</ul>
				</div>
				<div class="account_menu_icon">
					<ul>
						<li><a href="/ChangePassword">&#x274B Change Password</a></li>
						<li><a href="/logout" style="font-size: 26px;padding-top: 3px;" title="Logout">&#x27A5</a></li>
					</ul>
				</div>
			</div>
		</div>
		
		<div class="content_wraper">
			<div class="content_left">
				<div class="client_photo">
					<img src="../../images/profiles/<?php echo $photo;?>" alt="Profile Photo" />
				</div>
				<div class="client_name">
					<p>Welcome, <?php echo $name;?></P>
				</div>
				<div class="client_menu_section">
					<ul>
						<li><a href="/studentAccount">My Account</a></li>
						<li><a href="/registration">Registration</a></li>
						<li><a href="">My Curriculam</a></li>
						<li><a href="">Finacials</a></li>
						<li><a href="/Course">Course</a></li>
						<li><a href="/Result">Results</a></li>
						<li><a href="/studentProfile" id="active" >Profile</a></li>
						<li><a href="">Message</a></li>
						<li><a href="/logout">Logout</a></li>
					</ul>
				</div>
			</div>
			
			<div class="content_right">
				<div class="student_profile">
					<table class="student_info">
						<tr>
						<td class="info_col"> Semester No</td>
						<td class="info_col"> Course Id</td>
						<td class="info_val"> Course Name </td>
						<td class="info_val"> Time</td>
						<td class="info_val"> Action</td>
						</tr>
						<% for(var i=0; i < RegistrationData.length; i++){ %>
						<tr>
							<td class="info_col" > <%=RegistrationData[i].Semester%> </td>
							<td class="info_col"> <%=RegistrationData[i].CourseId%></td>
							<td class="info_val"> <%=RegistrationData[i].CourseName%></td>
							<td class="info_val"> <%=RegistrationData[i].CourseTime%></td>
							<td class="info_val">  
								<!-- <a href="/RegistrationView/edit/<%=RegistrationData[i].CourseId%>">Add</a> |  -->
								<a href="/registration">Add</a> | 
								<a href="/RegistrationDelete">Delete</a>
						    </td>
						</tr>
						<% } %>



					
					</table>
				
				</div>
			</div>
		</div>
		
		<div class="footer_wraper">
			<div class="footer container_center">
				<div class="footer_top">
				</div>
				<div class="footer_bottom">
					<p>Copyright 2018-19 &copy; onlineschool.com <br/> &reg All Right Reserved</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>